@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins|Source+Sans+Pro|Montserrat:400,900&display=swap");


.containerCarte {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.containerCarte h1 {
  text-align: center;
  margin: 5px;
}

.enteteBtn {
  display: flex;
  justify-content: space-between;
}

.underlineCarte {
  margin:  auto;
  background: #5b08a7;
  height: 3px;
  width: 30%;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 1em;
  border-bottom: 2px solid #5b08a7;
}

.menu-group {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1em;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-desc {
  line-height: 1.6;
}

#carteBtn {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 125px;
  }
}